<body class="bg-white">
<h1 class = "text-white bg-secondary text-center p-4 m-4 display-4">Edit Article</h1> 

<div class="card p-4 bg-secondary">
    <section class="p-4 text-center text-uppercase font-weight-bold">
    <%= render "form", article: @article %>
</section>
</div>




</body>

