<body class="bg-white">
    <h1 class="bg-secondary text-white text-center p-4 m-4">New Article</h1>

    <div class="card p-4 bg-secondary">
        <section class="text-center text-uppercase p-4">
        <%= render "form", article: @article %>
    </section>
    </div>

    
    
</body>